<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="false"
         stopOnSkipped="false">

    <testsuites>
        <testsuite name="all">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="32767"/> <!-- E_ALL | E_STRICT -->
        <ini name="date.timezone" value="Asia/Novosibirsk"/>
    </php>

</phpunit>
